body {
	background: #fff;
	color: #000;
	font-family: 'Merriweather', serif;
	font-size: 18px;
	font-weight: 300;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

p {
	line-height: 1.625;
	margin: 0 0 20px;
}

a {
	color: blue;
	text-decoration: underline;
	transition: color 0.1s linear;
}

strong {
	font-weight: 700;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 0.02em;
	line-height: 1.1;
}

a:visited {
	color: blue;
}

a:hover,
a:focus {
	color: #000;
}

.wrap {
	padding: 0 5%;
}

.site-header {
	box-shadow: 0 0 10px 0 rgba( 0, 0, 0, 0.8 );
	padding: 20px;
	width: 100%;
}

.site-title {
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 0;
}

.site-main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
	padding: 20px;
	width: 100%;
}

.sidebar {
	padding: 20px
}

.site-footer {
	font-size: 14px;
	padding: 20px;
	text-align: center;
	width: 100%;
}

.site-footer p {
	margin-bottom: 0;
}

.big-text {
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	font-weight: 700;
	letter-spacing: -0.02em;
	line-height: 1.2;
}

.sidebar-title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	letter-spacing: 0.02em;
	line-height: 1.1;
	text-align: center;
}

@media screen and ( min-width: 700px ) {
	
	.site-main {
		clear: left;
		float: left;
		margin-right: 2%;
		width: 68%;
	}
	
	.sidebar {
		float: right;
		width: 30%;
	}
	
	.wrap {
		margin: 0 auto;
		max-width: 1200px;
	}
	
	.site-footer {
		clear: both;
	}
}

